# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit
.streamlit/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

# Build Files
build/
dist/
*.egg-info/

# FAISS Index Files
*.faiss
*.pkl

# Logs
*.log